// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../assets/css/bootstrap.until";

.toast-wrapper {
    transform: translateY(-10px) !important;
    border-radius: 0.65rem !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    text-align: center;
}

ion-buttons[end]{
    min-width: 44px;
}

ion-content {
    background-color: rgb(240, 240, 240) !important;
}

[no-lines].border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

// Custom icon
@mixin newicon($name, $default, $active) {
    &[class*="custom-#{$name}"] {
        background-image: url(#{$default});
    }

    &[class*="custom-#{$name}"] {
        &[ng-reflect-is-active="true"] {
            background-image: url(#{$active});
        }
    }
}

@mixin newcoloricon($name, $path) {
    &[class*="custom-#{$name}"] {
        filter: grayscale(100%);
        background-image: url(#{$path});
    }

    &[class*="custom-#{$name}"] {
        &[ng-reflect-is-active="true"] {
            filter: grayscale(0%);
            background-image: url(#{$path});
        }
    }
}

ion-icon {
    &[class*="custom-"] {
        background-size: contain;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        width: 1em;
        height: 1em;
    }

    // @include newicon("lolly", "../assets/icon/lolly-candy.svg", "../assets/icon/lemon.svg");

    @include newcoloricon("lolly", "../assets/icon/lolly-candy.svg");
    @include newcoloricon("strawberry", "../assets/icon/strawberry.svg");
    @include newcoloricon("lemon", "../assets/icon/lemon.svg");
}
